<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form action="/songs/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <div class="">
    <label for="artist[name]">Enter Name of Artist:</label>
    <input id="Artist Name" type="text" name="artist[name]" value = "<%=@song.artist.name%>">

  </div>


  <div class="">
    <label for="song[name]">Enter Name of Song:</label>
    <input type="text" name="song[name]" value="<%=@song.name%>">
  </div>

    <h2>Choose the Songs Genres</h2>

    <% Genre.all.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.name %>">
      <label for="genres[]"><%= genre.name %></label>
    <% end %>

  <input id="Save" type="submit" value="submit">
</form>
