<form action= "/songs/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="put" >
  <label for="Name">Song Name</label>
  <input type="text" name="Name" value="<%=@song.name%>" >
  <% Genre.all.each do |genre| %>
  <p><%= genre.name %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  </p>
  <% end %>
  <label for="artist">Artist Name</label>
  <input type="text" name="Artist Name" value="<%=@song.artist.name%>">
  <input type="submit" id="Save">
</form>
